<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- React -->
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="{{ url_for('static', filename='babel.min.js') }}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Brat -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style-vis.css') }}"/>
    <script src="{{ url_for('static', filename='client/lib/head.load.min.js') }}"></script>
    <script src="{{ url_for('static', filename='brat.js') }}?v=1"></script>

    <!-- Cytoscape -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='cytoscape/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='cytoscape/func_cyto.js') }}"></script>
    <script src="{{ url_for('static', filename='cytoscape/style.js') }}"></script>
    <script src="{{ url_for('static', filename='cytoscape/cola.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='cytoscape/cytoscape-cola.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cytoscape/web_style.css') }}"/>
    <script> 
        var db = '{{db}}', 
            collection = '{{collection}}', 
            key = '{{key}}',
            value = '{{value}}';
        var query = db + '/' + collection + '/' + key + '/' + value + '/';
    </script>
    <script type="text/jsx" src="{{ url_for('static', filename='app.jsx') }}"></script>

</head>
<style>
    body {
        padding: 2% 5%;
    }
    .highlight {
        background-color: #f4da3f ! important;
    }
    .entity-label {
        color: #3f59f4;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<body>
<div id="example"></div>
<div id='result'></div>
</body>
</html>
