<!DOCTYPE html>
<html>
<head>
    <!-- React -->
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="{{ url_for('static', filename='babel.min.js') }}"></script>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    <script type="text/jsx">
        let url = 'http://0.0.0.0:11000/';
        class JsonTableEntity extends React.Component {
            render() {
                return (
                    <table className="table table-border table-hover">
                        <tbody>
                            {Object.values(this.props.entities).map((entity, idx) => {
                                return (
                                    <tr key={idx}>
                                        <td>{entity.duid}</td>
                                        <td>{entity.entityText}</td>
                                        <td>{JSON.stringify(entity)}</td>
                                    </tr>
                                );
                                })
                            }
                    </tbody></table>
                );
            }
        }

        class JsonTableRelation extends React.Component {
            render() {
                return (
                    <table className="table table-border table-hover">
                        <tbody>
                            {Object.values(this.props.relations).map((rel, idx) => {
                                return (
                                        <tr key={idx}>
                                            <td>{rel.duid}</td>
                                            <td>{JSON.stringify(rel)}</td>
                                        </tr>
                                );
                            })
                            }
                        </tbody></table>
                );
            }
        }
        
        class JsonTable extends React.Component {
            render() {
                return (
                    <div>
                        <h3> Entities </h3>
                        <JsonTableEntity entities={this.props.data.entity} /> 
                        <h3> Relations </h3>
                        <JsonTableRelation relations={this.props.data.relation} /> 
                    </div>
                );
            }
        }

        class RawDataContainer extends React.Component {
            constructor(...args) {
                super(...args);
                this.state = {
                    data: []
                };
            }

            componentDidMount() {
                fetch(url + "raw/json/{{pmcid}}").then(response => {
                    response.json().then(data => {
                        this.setState({
                            data: data
                        });
                    });
                });
            }

            render() {
                return (
                    <div>
                        {this.state.data.map(block => {
                            return (<JsonTable key={block.docId}
                                               docId={block.docId}
                                               data={block}/>)
                        })}
                    </div>
                );
            }
        }


        ReactDOM.render(
                <RawDataContainer/>,
                document.getElementById('example')
        );
    </script>

</head>
<body>
<div id="example"></div>
<div id='result'></div>
</body>
</html>
