<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style-vis.css') }}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='client/lib/head.load.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='brat.js') }}"></script>
    <script>
//        var url = 'http://biotm2.cis.udel.edu:11000/';
        var url = 'http://0.0.0.0:11000/';
        $(document).ready(function () {
            $.ajax({
                url: url + "raw/brat/{{pmcid}}",
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                brat(data[0], 'brat');
            });

            $.ajax({
                url: url + "raw/json/{{pmcid}}",
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                var tr;
                $.each(data[0]['entity'], function (k, e) {
                    tr = $('<tr/>');
                    tr.append("<td>" + e['duid'] + "</td>");
                    tr.append("<td>" + e['entityText'] + "</td>");
                    $('#raw').append(tr);
                });
            });
        });
    </script>
</head>
<body>
{{pmcid}}
<div id='brat'></div>
<br/><br/>
<table id='raw'></table>
</body>
</html>
