<!DOCTYPE html>
<html>
<head>
    <!-- React -->
    <script src="{{ url_for('static', filename='lib/react.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/babel.min.js') }}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/bootstrap.min.css') }}"/>
    <script>
        let url = 'http://biotm2.cis.udel.edu:11000/statData/{{db}}/{{collection}}/';
    </script>
    <script type="text/jsx"
            src="{{ url_for('static', filename='stat.jsx') }}"></script>
    <style>
        body {
            padding: 2% 5%;
        }
    </style>
</head>
<body>
<div id="result"></div>
</body>
</html>
